#SignupMain{
    padding: 7rem 0 !important;
}
.SignupMain{
    padding: 12rem 0 ;
    max-width: 20rem;
    /* height: 80vh; */
    margin: 0 auto;
    /* background:red */
}
.SignupCard {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.SignupCard>h1 {
    margin-right:auto;
    font-weight: 400
}
.SignupCard{
    font-weight: 600;
}
.google-button {
    white-space: nowrap;
    width: 20rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.google-button__icon--plus {
    width: 27px;
}
.google-button__text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 35px;
    font-size: 14px;
    font-weight: bold;
}
.Signup_form form input, .Signup_form form label{
    display: block;
    width:100%;
}
.Signup_form form input {
    margin:2px 0 20px;
    height: 30px;
    border: none;
    background-color: #faf9f6;
    outline: none;
}
.Signup_form {
    width: 20rem;
    color: #818181
}
.Signup_form div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
@media (min-width: 1200px) and (max-width: 1400px) { 
    .SignupMain{
        padding: 10rem 0 ;
    }
  }
@media (min-width: 992px) and (max-width: 1199px) { 
    .SignupMain{
        padding: 8rem 0 ;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) { 
    .SignupMain{
        padding: 8rem 0 ;
    }
  }
  
  @media (max-Width :767px) {
    .SignupMain{
        padding: 5rem 0 ;
    }
  
  }