.Latest{
    background: #faf9f6;
    width: 1170px ;
    margin: 0 auto;
    padding-top:30px 
}

.latest-wrapper{
    width: 1170px;
    margin: 0px auto;
    box-sizing: border-box;

}
.latest-wrapper h2 {
    font-weight: 500;
    font-size: 20pt;
}
.latest-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;  
}
