.Latest{
    background: #f5f4f1;
    width: 1170px ;
    margin: 0 auto;
    padding-top:30px 
}

.latest-wrapper{
    /* width: 1170px; */
    margin: 0px auto;
    box-sizing: border-box;

}
.latest-wrapper h1 {
    font-weight: 600;
}
.latest-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;  
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .Latest{
        width: 970px ;
    }
    .latest-content-wrapper {
        flex-direction: column; 
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .Latest{
        width: 750px ;
    }
}

@media (max-Width :767px) {
    .Latest{
        width: auto ;
    }
}