.show {
    width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
}
.show>h1{
    font-size: 2em !important;
    font-weight: 600;
}
.main_show_card {
    width: 100%;
    display:flex;
    justify-content: space-between
}
.show .left, .show .right{
    width: 50%;
}
.show .right{
    margin-left:50px
}
.show .main_show_card h1{
    font-weight: 600
}
.show .main_show_card h4{
    font-weight: 400;
    color:#818181;
}
.show_image_large{
    width:550px;
    height:309px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:10px
}
.show_image{
    width:100%;
}
.show_image_thumnail{
    display: flex;
    justify-content: center;
    width: 100%;
}
.show_image_thumnail img {
    height: 100%;
}

.show_image_thumnail>div {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin:0 5px;
    cursor:pointer
}
.show table{
    text-align: left;
    color:#333333;
    font-size:13px;
    margin: 50px 0

}
.show table th{
    font-weight: 400;
    padding:15px 100px 15px 0
}
.show table td{
    font-weight: 700
}
.show .show_other_cards{
    width:100%
}
.show .show_other_cards>div{
    width:70%;
    padding:50px 0 120px;
    margin:0px auto;
    display:flex;
    justify-content: space-around;

}
.social_media_share {
    margin-top: 1rem;
}