.search-main {
    box-shadow: 1px 1px rgba(116, 116, 116, 0.1);
    padding:0 20px;
    background:white;
    margin-top: 0px;
}

.form-search-main{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px; 
}
.form-search-main h1{
    font-weight:500;
    padding: 0;
}
.form-search-main select{
    height: 40px;
    width:200px;
    border:none;
    background:#faf9f6;
    padding:5px;
    color:#818181;
    font-family: 'Cairo', sans-serif;
    font-size:1.1rem;
    outline: none   
}
.form-search-main button{
    margin: 10px;
    background: #ffc000;
    border-radius: 50px;
    padding: 7px 20px;
    color: #ffffff;
    font-weight: bolder;
    box-shadow: 0 0 15px #ffc000;
    border:none;
    margin-top:30px;
    font-family: 'Cairo', sans-serif;
    font-size:1.1rem;
}