.BlogCard{
  background: #ffffff;
  width: 45%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h2.blog-writer-name {
  font-size: 12pt;
  color: #323232;
  margin-bottom: 5px;
  cursor: pointer;
  margin: 4px 0 0 0;
}
.blog-card-line{
  width: 35px;
  height: 2px;
  background:#ffae00;
  margin-top: 7px;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
}

.blog-card-img{
  width: 200px;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.blog-card-img img{
  height: 100%;
  text-align: center;
  position: relative;
  transform: translateX(-18%)
}

.blog-card-right-side{
  min-width: 200px;
  max-width: 300px;
  position: relative;
}


.blog-card-right-side h1{
  font-size: 17px;
  margin: 10px 0 0 0;
  margin-bottom: 10px;
  max-width: 200px
}
.blog-card-right-side>p{
  font-size: 11px;
  line-height: 15px;
  margin: 0;
  color: #818181;
}
p.Blog-card-city, p.Blog-card-date{
  font-size: 9pt;
  color: #818181;
  margin: 0
}
.Blog-card-botton{
  display: flex;
  justify-content: space-between;
}

.blog-card-more{
  position: absolute;
  bottom: 0;
  right: 0
}
  /* 
.Blog-card:hover .Blog-card-img::before{
    opacity: 1;
  }
  .Blog-card:hover .pics-icon{
    animation: anime .3s forwards;
    -webkit-animation: anime .3s forwards;
  }

  .Blog-card:hover .Blog-card-line{
    width: 50px;
  }


  
  img.pics-icon{
    position: absolute;
    top: 46%;
    left: 50%;
    height: auto;
    width: 50px;
    z-index: 44;
    cursor: pointer;
    opacity: 0;
    transform: translate(-50%, -80%);
    -moz-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    -o-transform: translate(-50%, -80%);
  } 
  @keyframes anime {
    0%{
      opacity: 0;
      
  }
    100%{
      opacity: 1;
      transform: translate(-50%, -100%);
      -webkit-transform: translate(-50%, -100%);
      -moz-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      -o-transform: translate(-50%, -100%);
  }
  } */