.card{
box-sizing: border-box;
width: 240px;
padding: 20px;
overflow: hidden;
background: #ffffff;
position: relative;
box-shadow: 1px 1px rgba(116, 116, 116, 0.1);
transition: box-shadow .3s ease;
}
.card:hover{
  box-shadow: 1px 1px 16px rgba(168, 168, 168, 0.3);
}
.card-img{
  width: 200px;
  height: 170px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 2px;
}
.card-img img{
  height: 100%;
  text-align: center;
  position: relative;
  transform: translateX(-18%); 
}
.card-img::before{
  content: '';
  width: 200px;
  height: 170px;
  position: absolute;
  z-index: 33;
  top: 20px;
  background: #ffc00080;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease ;
}
.card:hover .card-img::before{
  opacity: 1;
}
.card:hover .pics-icon{
  animation: anime .3s forwards;
}
.card-line{
  width: 35px;
  height: 2px;
  background:#ffae00;
  margin-top: 16px;
  transition: all ease .3s;
}
.card:hover .card-line{
  width: 50px;
}
h2.card-title {
  font-size: 12pt;
  color: #323232;
  margin-bottom: 5px;
  cursor: pointer;
}

.card-bottom{
  display: flex;
  justify-content: space-between
}
p.card-city, p.card-date{
  font-size: 9pt;
  color: #818181;
  margin: 0
}

img.pics-icon{
  position: absolute;
  top: 46%;
  left: 50%;
  height: auto;
  width: 50px;
  z-index: 44;
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -80%);

} 
@keyframes anime {
  0%{
    opacity: 0;
    
  }
  100%{
    opacity: 1;
    transform: translate(-50%, -100%);
  }
}