nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    padding: 8px 0;
    margin: 0 auto;
    
}
nav .menu ul li{
    display: inline-block;
    margin: 0 1.2rem;
    text-decoration: none;
    list-style: none
}
nav a {
    color: #333333; 
}
.sign-in button{
    background: transparent;
    box-shadow: none;
    color: #323232;
    font-weight: normal;
}
/* .sign-up button{
    background: #ffc000;
    border-radius: 50px;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: bolder;
    box-shadow: 0 0 15px #ffc000
} */
.Navbar{
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 999999999999;
}
