nav{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    padding: 8px 0;
    margin: 0 auto;
    
}
nav .menu ul li{
    display: inline-block;
    margin: 0 1.2rem;
    text-decoration: none;
    list-style: none
}
nav .menu ul li:nth-child(5){
    margin: 0 5px 0 1.2rem;
}
nav .menu ul li:nth-child(6){
    margin: 0;
}
nav a {
    color: #333333; 
}
.sign-in button{
    background: transparent;
    box-shadow: none;
    color: #323232;
    font-weight: normal;
}
.burger-menu{
    display:none;
    height:40px;
    padding: 10px 0px 10px 0;
    cursor: pointer;
    width: 40px;
}
.burger-menu div{
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #818181;
    border-radius: 15px;
    transition: 0.5s;
}
.firstBAR{
    transform: rotate(-45deg) translate(-11px, 6px);
    width: 2px;
}
.secBAR{
    transform:rotate(-45deg) translate(-5px, 0px);
}
.thirdBAR{
    transform:rotate(45deg) translate(-5px, 0px);
}
.Navbar{
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 999999999999;
    transition:0.3s;
}
.logo{
    width: 120px;
    margin: 5px 0 0;
    padding:0;
    
}
.user_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: -10px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
    nav{
        max-width: 970px;  
    }
    .logo{
        width: 100px;
        margin: 7px 0 0;
        padding:0;
    }

}
@media (min-width: 768px) and (max-width: 991px) { 
    nav{
        max-width: 750px;  
    }
    nav .menu ul li{
        margin: 0 10px;
    }
    .logo{
        width: 100px;
        margin: 5px 0 0;
        padding:0;
    }
 }

 @media (max-Width :767px){
    .cls-1{
        fill:transparent
    }
    nav{
        width: auto;  
        overflow: hidden;
        transition:0.3s;
        padding:10px 20px;
    }
    nav .menu ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0 0;
        text-align: center;
    }
    nav .menu{
        margin:50px 0;
    }
    nav .menu ul li{
        margin: 20px;
        text-decoration: none;
        list-style: none
    }
    nav .menu ul li:nth-child(5){
        margin:10px;
    }
    nav{
        height:40px;
    } 
    .logo{
        width: 100px;
        margin: 2px 0 0;
        padding:0;
        
    }
    .logo-cont{
        width: 34px;
        overflow: hidden
    }
    .navOpen{ 
        height:850px;
        transition:ease 1s;
    }
    .burger-menu{
        display: block;
    }
 }

 
