nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    padding: 8px 0;
    margin: 0 auto;
    
}
nav .menu ul li{
    display: inline-block;
    margin: 0 1.2rem;
    text-decoration: none;
    list-style: none
}
nav a {
    color: #333333; 
}
.sign-in a{
    margin-left: 3rem;
    padding: 10px 0;
}
.sign-up a{
    background: #ffc000;
    border-radius: 50px;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: bolder;
    box-shadow: 0 0 15px #ffc000
}
.Navbar{
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 999999999999;
}
