.latest-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    align-content: center




}

.error-search{
    font-size:14px;
    grid-column: 2;

}
@media  (max-width: 1199px) { 
    .latest-cards-container {
        margin-top:30px;
        justify-content: space-between;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .latest-cards-container {
        grid-gap:15px
    }
}

@media (max-Width :767px) {
    .latest-cards-container {
        grid-template-columns: 1fr 1fr;
    }
    .card-img {
        width: 100%;
        height:190px
    } 
}
@media (max-width:520px)  { 
    .latest-cards-container {
        grid-template-columns: 1fr ;
    }
}