.ad {
    background: #ffffff;
    height: 8rem;
    text-align: center;
    width: 1170px;
    margin: 0 auto;
    box-shadow: 1px 1px rgba(116, 116, 116, 0.1);
    
}
.ad p {
    font-size: 4rem;
    color: #818181;
    line-height: 8rem;


}
@media (min-width: 992px) and (max-width: 1199px) { 
    .ad{
        width: 970px ;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .ad{
        width: 750px ;
    }
}

@media (max-Width :767px) {
    .ad{
        width: auto ;
        margin: 0 30px;
    }
}