@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  background: url('images/tesla.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
} 

a{
  text-decoration: none
}
ul li{
  list-style: none
}
