@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,600,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f5f4f1;
} 
/* scrollBat style start */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffae00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e49c00; 
}   

/* scrollBat style end */

a{
  text-decoration: none
}
ul li{
  list-style: none
}

@media (min-width: 992px) and (max-width: 1199px) { 
  body {

    background-size: contain;

  } 
}

@media (min-width: 768px) and (max-width: 991px) { 

}

@media (max-Width :767px) {
  

}